* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.795);
    color: aliceblue;
}

.meio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input[type="text"] {
    text-align: center;
    border-radius: 8px;
}

input[type="text"]:hover {
    transition-duration: 0.3ms;
    color: rgb(8, 163, 72);
    font-weight: bolder;
}

.botaoCSS {
    border-radius: 4px;
    background-color: rgb(13, 88, 63);
    color: white;
    padding: 8px 16px;
    cursor: pointer;
}

.botaoCSS:hover {
    background-color: rgb(74, 199, 157);
    transform: scale(1.03);
}
#voltar{
    color: rgb(6, 73, 23);
    font-weight: bolder;
}