
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #111;      /* preto */
    color: #fff;           /* branco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: #1a1a1a;        
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 20px #000;
    width: 320px;
    border: 1px solid #b30000;   
    margin-left: 20px;
}


h1 {
    text-align: center;
    margin-bottom: 18px;
    margin-left: 20px;
    color: #ff3b3b;           
}


label {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}


input[type="radio"] {
    accent-color: #ff0000;       
    cursor: pointer;
}

button {
    padding: 10px;
    border: none;
    background: #ff0000;       
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    background: #cc0000;       
}


h2 {
    text-align: center;
    margin-top: 20px;
    color: #ff4d4d;             
}
