@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background: #fdf5f5; /* rosa bem clarinho */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: #fff8fc; /* creme rosado */
    padding: 30px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(150, 120, 150, 0.25);
    border: 2px solid #f3dce8;
    text-align: center;
}

h1 {
    color: #b784c6; 
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

label {
    display: block;
    color: #986fa2;
    font-weight: 600;
    margin-top: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 15px;
    border: 2px solid #e3cbe0;
    outline: none;
    background: #fff;
    font-size: 14px;
    transition: 0.2s;
}

input:focus {
    border-color: #caa7d8;
    box-shadow: 0 0 6px #e3c7f5;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background: #cea7e8;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0px 4px 10px rgba(180, 120, 210, 0.30);
    transition: 0.3s;
}

button:hover {
    background: #b78cd6;
    box-shadow: 0px 4px 12px rgba(150, 100, 180, 0.35);
}

h2 {
    display: inline-block;
    margin-top: 20px;
    color: #b88cd1;
    text-decoration: none;
    font-weight: 600;

}

a:hover {
    text-decoration: underline;
}
